* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  list-style: none;
}
.box {
  width: 1135px;
  height: 597px;
  background-color: #ebebeb;
  margin: 185px auto 0;
  position: relative;
}
.box > div {
  width: 1000px;
  height: 515px;
  background-color: #fff;
  position: absolute;
  left: 67px;
  top: 41px;
}
.box > div .left {
  width: 420px;
  height: 515px;
  float: left;
}
.box > div .left .content {
  width: 174px;
  height: 230px;
  background-image: url("../image/air.png");
  background-repeat: no-repeat;
  margin: 128px 104px 156px 140px;
}
.box > div .right {
  width: 346px;
  height: 515px;
  margin-right: 234px;
  font-size: 16px;
  float: left;
  margin-top: 66px;
}
.box > div .right span {
  color: #535353;
  display: inline-block;
  margin-top: 14px;
  line-height: 32px;
  display: inline-block;
  width: 72px;
  world-spacing: 5px;
}
.box > div .right input {
  width: 262px;
  height: 30px;
  margin-top: 15px;
  font-size: 14px;
}
.box > div .right select {
  width: 127px;
  height: 30px;
  margin-top: 15px;
}
.box > div .right input:last-child {
  background-color: #34c1b9;
  border: none;
  margin-left: 82px;
  border-radius: 4px;
  text-align: center;
  color: #fff;
}
