*
	margin 0
	padding 0
	box-sizing border-box
	line-height 1
	list-style none
.box
	width 1135px
	height 597px
	background-color rgb(235, 235, 235)
	margin 185px auto 0
	position relative
	& > div
		width 1000px
		height 515px
		background-color #fff
		position absolute
		left 67px
		top 41px
		.left
			width 420px
			height @height
			float left
			.content
				width 174px
				height 230px
				background-image url("../image/air.png")
				background-repeat no-repeat
				margin 128px 104px 156px 140px
		.right
			width 346px
			height 515px
			margin-right 234px
			font-size 16px
			float left
			margin-top 66px
			span 
				color rgb(83, 83, 83)
				display inline-block
				margin-top 14px
				line-height 32px
				display inline-block
				width 72px
				world-spacing 5px
			input
				width 262px
				height 30px
				margin-top 15px
				font-size 14px
			select
				width 127px
				height 30px
				margin-top 15px
			input:last-child
				background-color rgb(52, 193, 185)
				border none
				margin-left 82px
				border-radius 4px
				text-align center
				color white
				
				
			